{% extends "network/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
    {{ user.rollNo }}
{% endblock %}

{% block body %}
    {{ message }}
    <h1>{{ user.rollNo }}</h1>

    {% if user.is_current %}
    <ul>
      <li>Name - {{ user.first_name }} {{ user.last_name }}</li><br>
      <li>Branch - {{ user.branch }}</li><br>
      <li>Year - {{ user.year }}</li><br>
      <form action="{% url 'network:update' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <input type="submit" value="Update">
      </form>
    </ul>
    Did You just graduate or are about to graduate?<br>
    <a href="{% url 'network:make_alum' %}">Upgrade</a> your profile to an Alumni Profile
    {% else %}
      Update your Information(please make sure to provide valid links to your social media profiles):<br>
      <form action="{% url 'network:update' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <input type="submit" value="Update Information">
        <br>
        Can't Find Your Comapny? <a href="{% url 'network:add_company' %}">Add</a> your company to our database. <br>
        OR<br>
        <a href="{% url 'network:add_city' %}">Add</a> your city to the database<br>
      </form>
    {% endif %}

{% endblock %}
